
body{
    font-size: 35px;
    height: 100%;
}
#main{
    width: 480px;
    height: 800px;
    background-color: plum;
    margin: 0 auto;
}
h1{
    background-color: plum;
    text-align: center;
    margin: 0 0;
}
p{
    width: 50%;
    float: left;
    box-sizing: border-box;
    height: 10%;
    margin: 0 0;
}
#score{
    text-align: left;
    padding-left: 10px;
    background-color: #2ce596;
}
#level{
    text-align: right;
    padding-right: 10px;
    background-color:#2ce596;
}
#time{
    width: 100%;
    height: 1%;
    background-color: rgb(176, 66, 171);
    float: left;
}
#calculation{
    float: left;
    width: 100%;
    height: 25%;
    background-color: aquamarine;
    text-align: center;
    padding: 70px 0;
    box-sizing: border-box;
}
#result{
    float: left;
    width: 100%;
    height: 10%;
    background-color: #e55773;
    text-align: center;
}
#clickArea{
    float: left;
    width: 100%;
    height: 30%;
    background-color: #ec793d;
    text-align: center;
}
button{
    width: 120px;
    height: 120px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
#true{
    color: green;
}
#false{
    color: red;
}
#wrap{
    width: 1500px;
    height: 800px;
    background-image: url("math_poster_2.jpg");
    margin: auto;
}
